# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python virtual environment
.venv
venv/
ENV/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor specific files
.vscode/
.idea/
*.project
*.sublime-project
*.sublime-workspace

# OS specific files
.DS_Store
Thumbs.db

# Local instance files
db.sqlite3
*.log

# Media files (if you store user-uploaded media locally and don't want it in the image)
# media/ 